<div class="assignment-card">
    <div class= "d-flex justify-content-between">
      <div class="assignment-card-title">
        <h6><%= assignment.title %></h6>
      </div>
      <h6>user progress</h6>
    </div>
    <p><%=assignment.due_date%></p>
</div>
