<%= link_to course_assignment_path(assignment.course, assignment) do %>
  <div class="assignment-card">
    <div class="container-title-progress-due-date">
      <div class="title-user-progress">
        <div class="assignment-card-title">
          <h4><%= assignment.title %></h4>
        </div>
          <h6><%= render partial: "components/user_progress" %></h6>
        </div>
      <p><em><%= assignment.due_date.strftime("%A, %b %d")%></em></p>
    </div>
  </div>
<% end %>
