<%= month_calendar(attribute: :due_date, events: assignments) do |date, assignments| %>
  <span class="day-container">
    <%= date.day %>
  </span>
  <div class="assignments-container">
    <% assignments.each do |assignment| %>
      <i class="fa-solid fa-circle"></i>
    <% end %>
  </div>
  <%# assignments.each do |assignment| %>
    <%# <div> %>
    <%# assignment.title %>
    <%# </div> %>
    <%# end %>
  <% end %>
