<div class="d-flex position-relative" data-controller="calendar" data-action="click@window->calendar#toggleExtend">
  <div id="extension" class="d-none" data-calendar-target="extension">
    <div class="extension-header">
      <h4><em><span id="extension-date" data-calendar-target="extensionDate"></span></em></h4>
    </div>
    <div class="assignments-header">
      <h5>Assignments</h5>
      <div class="assignments" data-calendar-target="extensionAssignments">
      </div>
    </div>
    <div class="meetings-header">
      <h5>Meetings</h5>
      <div class="meetings" data-calendar-target="extensionMeetings"></div>
    </div>
  </div>
  <%= month_calendar(attribute: :due_date, events: assignments) do |date, assignments| %>
    <div class="calendar-item">
      <span class="day-container" data-calendar-target="item" data-date="<%= date.strftime("%B %d") %>" data-assignments="<%= assignments.to_json %>">
        <%= date.day %>
      </span>
      <div class="assignments-container">
        <% assignments.each do |assignment| %>
          <i class="fa-solid fa-circle"></i>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
