<div class="course-card">
  <%= link_to course_path(course) do %>
    <div class="icon-container">
    </div>
  <% end %>
  <div class="content justify-content-between">
    <div class="d-flex justify-content-between">
      <h3> <%= link_to course.name, course_path(course) %></h3>
      <h3><%= link_to course.code, course_path(course) %></h3>
    </div>
  </div>
</div>
