<div class="course">
  <%= link_to course_path(course) do %>
    <div class="icon-container">
    </div>
  <% end %>
  <div class="content justify-content-between">
    <div class="d-flex justify-content-between">
      <h3><%= course.name %></h3>
      <h3> | </h3>
      <h3><%= course.code %></h3>
    </div>
      
  </div>
</div>
