<% unless @resource_links.empty? %>
  <div class="link-box">
    <% @resource_links.each do |link| %>
      <div class="link">
        <a href="<%= link.link %>"><%= link.link %></a>
      </div>
    <% end %>
  </div>
<% end %>
