<% if user_progress == "Not started" %>
  <span class="dot progress-not-started">
  </span>
<% elsif user_progress == "Working"%>
  <span class="dot progress-working">
  </span>
<% else %>
  <span class="dot progress-finished">
  </span>
<% end %>
