// Define variables for your color scheme

// For example:
$red: #fd1015;
$blue: #0d6efd;
$yellow: #ffc65a;
$orange: #e67e22;
$green: #1edd88;
$gray: #0e0000;
$light-gray: #f4f4f4;

// studyFlow color scheme

$background-color: #f5f5ef;
$font-color: #1f2839;
$tertiary-color: antiquewhite;
$quarternary-color: #c1cfce;

// subject colors

$first-subject-color: #e06c78;
$second-subject-color: #1f2f98;
$tertiary-subject-color: #68b2a0;
$quarternary-subject-color: #c73866;
$quinternary-subject-color: #706695;
$hexernary-subject-color: #dfb15b;

// user progress colors

$not-started-color: #d0342b;
$working-on-it-color: #feb91c;
$completed-color: #03c903;

$difficulty-easy: #2de36e;
$difficulty-medium: #ffbd00;
$difficulty-hard: #ff4826;
$difficulty-expert: #0a0002;
