// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;


// studyFlow color scheme

$background-color: #F5F5EF;
$font-color: #1F2839;
$tertiary-color: #cdc9c5;
$quarternary-color: #c1cfce;


// subject colors

$first-subject-color: #F04393;
$second-subject-color: #1F2F98;
$tertiary-subject-color: #7BE495;
$quarternary-subject-color: #FE7A15;
$quinternary-subject-color:#522157;
$hexernary-subject-color:#F8D90F;

// user progress colors

$not-started-color: #d0342b;
$working-on-it-color: #feb91c;
$completed-color: #003900;
