#title-due-date {
  background-color: wheat;
  display: flex;
  justify-content: space-between;
  width: 800px;
  margin: 30px;
  margin-right: auto;
  margin-left: 20px;
  padding: 10px;
}

#progress-difficulty {
  background-color: wheat;
  display: flex;
  justify-content: space-between;
  width: 800px;
  margin: 30px;
  margin-right: auto;
  margin-left: 20px;
  padding: 10px;
}
