.container-assignment-top {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  min-height: 100%;

  #difficulty-title-pdf {
    width: 100%;
    flex-grow: 1;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
  }

  #your-progress-compared {
    display: flex;
    border-radius: 10px;
    width: auto;
    margin: auto;
    text-align: left;
    justify-content: start;
    align-items: center;
    margin-top: 7px;
  }
}

#title-difficulty {
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
  padding-top: 10px;
  align-items: center;
}

#title-difficulty-due-date {
  background-color: $font-color;
  width: 100%;
  border-radius: 10px;
  color: $background-color;
  margin-bottom: 20px;

  h2 {
    margin-left: 20px;
  }

  h6 {
    margin-right: auto;
    margin-left: 20px;
    padding-bottom: 10px;
  }
}

#classmate-progress {
  background-color: $font-color;
  padding: 20px;
  width: 500px;
  height: 100%;
  border-radius: 10px;
  height: auto;
  color: $background-color;
  margin-left: 20px;

  .dropdown-toggle {
    color: white;
    padding: 0px;
  }

  .dropdown-menu {
    width: 300px;
  }

  .dropdown-menu-center {
    position: absolute;
    left: 50% !important;
    right: auto !important;
    transform: translate(-50%, 80%) !important;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0 20px;
  }

  h3 {
    text-align: center;
    margin-bottom: 0px;
    font-weight: bold;
  }
}

#pdf-container {
  height: 800px;
  border: solid black 1px;
  background-color: $tertiary-color;
  width: 100%;
  margin-top: 20px;
  border-radius: 15px;
  overflow: scroll;
}

#forum-button {
  margin-left: 90px;
  text-align: center;
  margin: 15px;
}

.profiles {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-left {
  display: flex;
  justify-content: start;
  align-items: middle;
}

#carouselExampleIndicators .carousel-item img {
  object-fit: cover;
  object-position: top;
  overflow: scroll;
}

.one-image {
  object-fit: cover;
  object-position: top;
  overflow: scroll;
}

.user-avatar-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}

.profile-current-user {
  position: relative;
  color: $background-color;
}

.user-progress-button {
  border: none;
  padding: 0;
  background: transparent;
  width: 100%;
}

.seperator {
  margin: 20px 10px;
  border-bottom: 1px solid $background-color;
}

.user-name {
  display: flex;
  align-items: center;
  margin: 0 10px;
}

.carousel-control-next:hover {
  background-color: rgba($color: $tertiary-color, $alpha: 0.5);
}

.carousel-control-prev:hover {
  background-color: rgba($color: $tertiary-color, $alpha: 0.5);
}
