.container-assignment-top {
  display: flex;
  justify-content: space-between;

  #your-progress-compared {
    border: solid black 1px;
    display: flex;
    border-radius: 10px;
    width: 150px;
    padding: 10px;
    text-align: center;
    margin-left: 35px;
    justify-content: space-between;
    align-items: center;
    margin-top: 7px;
  }
}

#title-difficulty {
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
  padding-top: 10px;
  align-items: center;
}

#title-difficulty-due-date {
  background-color: $font-color;
  width: 1000px;
  border-radius: 10px;
  color: $background-color;

  h2 {
    margin-left: 20px;
  }

  h6 {
    margin-right: auto;
    margin-left: 20px;
    padding-bottom: 10px;
  }
}

#classmate-progress {
  background-color: $font-color;
  padding: 10px;
  width: 300px;
  border-radius: 10px;
  height: auto;
  color: $background-color;

  ul {
    list-style: none;
  }

  h3 {
    text-align: center;
    margin-bottom: 0px;
    font-weight: bold;
  }
}

#pdf-container {
  border: solid black 1px;
  background-color: $tertiary-color;
  width: 1000px;
  height: auto;
  margin-top: 70px;
  border-radius: 15px;
}

#forum-button {
  margin-left: 90px;
  text-align: center;
  margin: 15px;
}

.profiles {
  display: flex;
  margin-bottom: 10px;
}

#carouselExampleIndicators .carousel-item img {
  object-fit: contain;
  object-position: center;
  height: 60vh;
  overflow: hidden;
}

<<<<<<< HEAD
.one-img {
=======
.one-image {
>>>>>>> 5de2ef5545f94f7e0192275ad0c1395a400671d0
  object-fit: contain;
  object-position: center;
  height: 60vh;
  overflow: hidden;
}
<<<<<<< HEAD
=======

.user-avatar-name {
  display: flex;
  align-items: center;
  padding: auto;
}

.user-name {
  margin: 5px 10px 15px 10px;
}
>>>>>>> 5de2ef5545f94f7e0192275ad0c1395a400671d0
