.container-course-show {
  display: flex;
  justify-content: space-between;

  .course-show-left {
    flex-grow: 1;
  }

  .fa-4x {
    font-size: 2em;
    color: $background-color;
  }

  .fa-4x:hover {
    color: $tertiary_color;
  }
  .btn-flat:hover {
    color: $font-color;
  }

  .course-title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1f2839;
    width: 100%;
    padding: 20px 27px;
    margin-bottom: 20px;

    #share-code {
      color: $tertiary-color;
      margin: 0;
    }
  }

  h1 {
    font-weight: bold;
    color: $background-color;
  }

  h4 {
    color: $background-color;
  }
  h4:hover{
    color: $tertiary_color;
  }

  .assignments {
    text-align: left;
    background-color: #1f2839;
    margin: 20px 0px 20px 0px;
    padding: 20px;
    width: 100%;
    border: 1px solid;
    border-radius: 15px;
  }
  .course-show-right {
    width: 500px;
    margin-left: 20px;
  }

  .container-calendar {
    width: 100%;
    margin-bottom: 20px;
  }

  .container-useful-resources {
    width: 100%;
    background-color: #1f2839;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    border: 1px solid antiquewhite;
    h1 {
      color: $background-color;
    }
  }

  #assignment-new-button {
    margin-bottom: 10px;
  }

  .course-title-container {
    border: 1px solid;
    border-radius: 15px;
  }
  .assignment-card {
    border: 1px solid $background-color;
  }
  .assignment-card:hover {
    border: 1px solid $tertiary_color;
  }
  .btn {
    background-color: #1f2839;
    color: antiquewhite;
  }
  .btn-outline-primary {
    color: antiquewhite;
    border: 1px solid antiquewhite;
    height: 40px;
  }
  .add-btn {
    display: flex;
    justify-content: flex-end;
  }
}

.fa-4x {
  font-size: 2em;
}
