.sign-up-container {
  margin: 0;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Jost", sans-serif;
  z-index: 3;
  box-shadow: 0px 0px 37px #aa0909;
}

#log-in-form {
  background: transparent;
  z-index: 3;
}

#sign-up-form {
  background: transparent;
  z-index: 3;
}

.login-body-log {
  margin: 0;
  padding: 60px;
  box-shadow: 0 0 65px #910606;
  color: whitesmoke;
  border: ridge;
  border-radius: 30px;
}

.nav-logo {
  z-index: 1;
  width: 100px;
  // margin-right: 82px;
  padding-right: 0px;
  max-height: fit-content;
}

#logo-text {
  font-family: 'Aboreto', cursive;
  margin-right: 82px;
  font-size: 40px;
  color: whitesmoke;
  z-index: 1;
    font-weight: bold;
    text-shadow: 0 0 65px #910606;
    font-size: -webkit-xxx-large;
    // font-variant: unicase;
    a:link {
      text-decoration: none;
    }

    a:visited {
      text-decoration: none;
      color: #fff;
    }

    a {
      color:#fff;
      -moz-transition: all 0.2s ease-in;
      -o-transition: all 0.2s ease-in;
      -webkit-transition: all 0.2s ease-in;
      transition: all 0.2s ease-in;
    }

    a:hover {
      color: #fdec6e;
      text-shadow:0px 0px 30px #fdec6e;
      -moz-transition: all 0.2s ease-in;
      -o-transition: all 0.2s ease-in;
      -webkit-transition: all 0.2s ease-in;
      transition: all 0.2s ease-in;
    }
  }

.btn {
  background-color: darkgray;
  border-radius: 20px;
}

.sign-up-form {
  padding: 50px;
  box-shadow: 0px 0px 10px #000;
  border-radius: 20px;
  color: azure;
}

.sign-up-form a {
  text-decoration: none;
  display: block;
  margin-top: 20px;
}

.sign-up-form a:hover {
  color: #fff !important;
}

.background-video {
  position: fixed;
  top: 0;
  bottom: 0;
  width: auto;
  height: auto;
  z-index: 0;
  overflow: hidden;

  video {
    min-width: 50%;
    min-height: 50%;
    top: 50%;
    left: 50%;
  }
}

.container-vid {
}
