.questions-index {
  background: $background-color;
}

.create-question-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.number-of-questions {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $font-color;
  width: 17%;
  color: $background-color;
  border-radius: 20px;
  margin: auto;
  margin-top: 40px;

  h1 {
    font-weight: bold;
    padding: 10px;
  }
}

.question-create {
  background-color: $font-color;
  width: 70%;
  height: auto;
  border-radius: 15px;
  color: $background-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .element-within-question-create {
    margin: 20px;
    width: 85%;
  }

  .input-title{
    width: 100%;
  }
}
.forum-container {
  background-color: $background-color;
  margin: 0 auto;
  width: 100%;
  padding: 20px;
  display: flex;
  gap: 40px;

  .forum-column {
    width: 33%;
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
}

.search-box {
  width: 30%;
  border-radius: 20px;
  background-color: $font-color;
  margin-top: 20px;
}

.input-search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: auto;
  height: 70px;
}
