.questions-index {
  background: $background-color;
}

.create-question-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.question-create {
  background-color: $font-color;
  width: 70%;
  height: auto;
  border-radius: 15px;
  color: $background-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 15px $font-color;


  .element-within-question-create {
    margin: 20px;
    width: 85%;
  }

  .input-title{
    width: 100%;
  }
}
.forum-container {
  background-color: $background-color;
  margin: 0 auto;
  width: 100%;
  padding: 20px;
  display: flex;
  gap: 40px;

  .forum-column {
    width: 33%;
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
}

.create-search-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-box {
  background-color: #1f2839;
  width: 40%;
  height: auto;
  border-radius: 15px;
  color: #f5f5ef;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 15px $font-color;
  margin-top: 40px;

}

.input-search-box {
  margin: 20px;
  width: 85%;

  .btn {
    margin-top: 15px;
  }
}
