<div class="courses-index">
  <div class="index-left">
    <h1>My Courses</h1>
    <div class="courses">
      <% @courses.each do |course|%>
        <%= render partial: "components/course_card", locals: { course: course } %>
      <% end %>
    </div>
  </div>
  <div class="index-right">
    <div class="calendar">
      <h2>Calendar</h2>
    </div>
    <div class="due-assignments">
      <h2>Due-assignments</h2>
    </div>
  </div>
</div>
