<div class="courses-index">
  <div class="index-left">
    <div class="head-box" data-controller="user-progress">
      <h1>Courses:</h1>
      <div class="plus" data-controller="turbo">
        <i data-action="click->turbo#open" class="fa-solid fa-circle-plus"></i>
        <%= render partial: "popups/edit_or_join_popup" %>
      </div>
    </div>
    <div class="courses">
      <% @courses.each do |course|%>
        <%= render partial: "components/course_card", locals: { course: course } %>
      <% end %>
    </div>

  </div>
  <div class="index-right">
    <div class="calendar">
      <%= render partial: "components/calendar", locals: { assignments: current_user.assignments } %>
    </div>
    <div class="due-assignments">
      <div style="padding-bottom: 10px; padding-top: 10px;">
        <h2>Due Assignments</h2>
        <% @due_assignments.each do |assignment| %>
          <%= render partial: "components/assignment_card", locals: { assignment: assignment } %>
        <% end %>
      </div>
    </div>
  </div>
</div>
