<% @courses.each do |course|%>
<div>
  <%= course.code %>
  <%= course.name %>
  <h1>--------------------</h1>
  <br>
  <% end %>
</div>
<button type="button" class="btn btn-outline-primary">Primary</button>

