<div class="container" id="simple-form-new-course" data-controller="typed-titles" data-typed-titles-target="form">
  <div class="simple-form-input">
    <h1 id="header-simple-form"><span class="auto-type-course"></span></h1>
    <br>
    <%= simple_form_for(@course) do |f| %>
      <div class="row">
        <div class="form-group col-md-6">
          <%= f.input :name %>
        </div>
        <div class="form-group col-md-6">
          <%= f.input :code %>
        </div>
        <%= f.submit class:"btn submit-btn"%>
      <% end %>
    </div>
  </div>
