<div class="container-course-show" id="course-show">
  <div class="container-title-assignments-back-btn" id="container-title-assignments-back-btn">
    <div class="container-course-name-code" id="course-name-code">
      <h1><%= @course.name %></h1>
      <em><h4><%= @course.code %></h2></em>
    </div>
    <div>
      <h1>Due Assignments: </h1>
    </div>
    <div class="container-assignments" id="assignments">
      <% @assignments.each do |assignment| %>
        <div class="container-each-due-assignment" id="each-due-assignment">
          <%= render partial: "components/assignment_card", locals: { assignment: assignment } %>
        </div>
      <% end %>
    </div>
    <div id="back-to-courses-btn">
      <%= link_to "Back to all Courses", courses_path(@courses), class: 'btn btn-outline-primary' %>
    </div>
  </div>
  <div>
    <h1>calendar</h1>
  </div>
</div>
