.assignment-card {
  width: 90%;
  height: 90%;
  background: $font-color;
  border-radius: 10px;
  color: $background-color;;
  text-decoration: none;
  padding-right: 10px;
  text-align: center;
  margin: auto;
  margin-bottom: 30px;

  .container-title-progress-due-date {
    padding: 5px;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .title-user-progress {
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
  }

  a {
    color: $background-color;

    &:hover {
      color: $quarternary-color;
    }
  }

  p {
    text-align: start;
  }

  h6 {
    color: $tertiary-color;
  }
}
