.btn-ghost {
  color: $background-color;
  border: 1px solid $background-color;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
  color: $background-color;
}

.btn-flat {
  color: $background-color;
  padding: 8px 24px;
  border-radius: 4px;
  background: $font-color;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: $quarternary-color;
  color: $font-color;
}

.hand-in-button {
  width: 125px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  margin-right: 20px;
  padding: 5px 5px 7px 5px;
  border: 2px solid $background-color;

  h5 {
    margin: auto;
    color: $background-color;
    font-weight: 900;
  }

  &:hover {
    cursor: pointer;
    color: $tertiary-color;
    border-color: $tertiary-color;
  }
}
