.difficulty-popup {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(220, 220, 220, 0.3);
  z-index: 10;

  .popup-content {
    background: $background-color;
    opacity: 1px;
    border: #1f2839 solid 3px;
    border-radius: 10px;
    background-color: $background-color;
    box-shadow: inset 0 0 10px #000000;
    h1 {
      font-size: 1.5em;
      margin: 0;
      padding: 0.5em;
      text-align: center;
    }
  }
}

.popup-active {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.difficulty-input .form-check-input.is-valid ~ .form-check-label {
  color: black;
}

.difficulty-input .form-check:first-of-type {
  input, input.is-valid {
    border-color: $difficulty-easy !important;
    background-color: $difficulty-easy !important;
  }

  // label {
  //   background-color: green !important;
  // }
}

.difficulty-input .form-check:nth-of-type(2) {
  input, input.is-valid {
    border-color: $difficulty-medium !important;
    background-color: $difficulty-medium !important;

  }

  // label {
  //   background-color: rgb(219, 203, 30) !important;
  // }
}

.difficulty-input .form-check:nth-of-type(3) {
  input, input.is-valid {
    border-color: $difficulty-hard !important;
    background-color: $difficulty-hard !important;
  }

  // label {
  //   background-color: orange !important;
  // }
}

.difficulty-input .form-check:nth-of-type(4) {
  input, input.is-valid {
    border-color: $difficulty-expert !important;
    background-color: $difficulty-expert !important;
  }

  // label {
  //   color: red !important;
  // }
}

.mb-3 {
  margin-bottom: 0.5em !important;
  text-align: center;
}

.mark-complete {
  text-align: -webkit-center !important;
  padding: 10px !important;
  margin: 3px !important;
  border-radius: 17px !important;
  :hover {
    box-shadow: inset 0px 5px 10px 0px rgba(0, 0, 0, 0.7);
  }
}

.edit_user_assignment {

    margin: 3px;
    padding: 10px;
    text-align: center;

}

.difficulty-input {
  display: flex;
  justify-content: space-evenly;
}
