.forum-card {
  padding: 10px;
  width: 100%;
  height: auto;
  background-color: beige;
  border: 1px solid black;
  margin: 10px;

  .question {
    border: 1px solid black;
  }

  .answers {
    border: 1px solid black;
  }

  .answer {
    border: 1px solid black;
  }
}
