.forum-card {
  padding: 10px;
  width: 100%;
  height: auto;
  background-color: $background-color;
  margin: 10px;
  box-shadow: 0 0 15px $font-color;


  .question {
    border: 1px solid black;
    background-color: $font-color;
    color: $background-color;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    .question-header {
      color: $tertiary-color;
    }

    .question-body {
      margin: auto;
    }

    .question-text {
      margin: 10px;
    }

    .question-footer {
      border: 1px solid $font-color;
      background-color: $background-color;
      width: 38%;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-bottom: 0px;
      padding-top: 10px;

      p {
        color: $font-color;
      }
     }
  }

  .answers {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }

  .answer {
    border: 1px solid black;
    width: 90%;
    margin: 10px;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;

    .answer-date {
      background-color: $quarternary-color;
      color: $font-color;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      height: 40px;
      width: 35%;
    }
    }

  .answer-header {
    background-color: $font-color;
    color: $background-color;
    margin: auto;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;

    p {
      margin: 10px;
    }
  }

  .row {
    width: 100%;
  }

  .form-group {
    width: 100%;
  }

  .btn {
    width: 40%;
    margin: auto;
    margin-bottom: 10px;
  }

  h4 {
    margin: 5px;
  }

  .container-write-an-answer {
    background-color: $background-color;
    width: 100%;
  }

  .form-group {
    width: 90%;
    margin: auto;
  }

  .answer-header-form {
    background-color: $font-color;
    color: $background-color;
    margin: auto;
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }


  .btn-centered {
    display: flex;
    justify-content: center;
  }
}
