.forum-card {
  // padding: 10px;
  width: 100%;
  height: auto;
  background-color: $background-color;
  // margin: 10px;

  .question {
    border: 1px solid black;
    background-color: $font-color;
    color: $background-color;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0 0 15px $font-color;

    .question-header {
      color: $tertiary-color;
    }

    .question-body {
      margin: auto;
    }

    .question-text {
      margin: 10px;
    }

    .question-footer {
      width: 38%;
      height: auto;

      p {
        color: $background-color;
        font-style: italic;
      }
    }
  }

  .answers {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }

  .answer {
    border: 1px solid black;
    width: 90%;
    margin: 10px;
    border-radius: 14px;

    p {
      margin-left: 4px;
    }

    .answer-date {
      color: $font-color;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      p {
        margin-bottom: 0px;
        color: grey;
        font-size: 15px;
      }
    }
  }

  .answer-header {
    background-color: $font-color;
    color: $background-color;
    margin: auto;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;

    p {
      margin: 10px;
    }
  }

  .row {
    width: 100%;
  }

  .form-group {
    width: 100%;
  }

  .btn {
    margin: auto;
    margin-bottom: 10px;
    &:hover {
      background-color: black;
      animation: reverse 1s;
      color: azure;
    }
  }

  h4 {
    margin: 5px;
  }

  .container-write-an-answer {
    background-color: $background-color;
    width: 100%;
  }

  .form-group {
    width: 90%;
    margin: auto;
  }

  .answer-header-form {
    padding-top: 15px;
    background-color: $font-color;
    color: $background-color;
    margin: auto;
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .btn-centered {
    display: flex;
    justify-content: center;
  }

  .big-box {
    display: flex;
    justify-content: space-between;
  }

  .vote {
    display: flex;
    margin-left: 20px;
    align-items: center;
  }

  .vote-container {
    flex-direction: column;
    i {
      font-size: xx-large;
    }

    .fa-chevron-up {
      text-shadow: 0px 1px 10px lawngreen;
      padding-top: 3px;
    }

    .fa-chevron-down {
      text-shadow: 0px 0px 10px red;
    }

    .answer-up {
      padding: 18px 5px;
      font-size: larger;
    }

    .answer-down {
      padding: 17px 5px;
      font-size: larger;
    }

    p {
      font-size: x-large;
      margin-bottom: 0;
      align-self: center;
    }
    display: flex;
  }

  .answers-vote-container {
    margin-right: 10px;
    i {
      font-size: xx-large;
    }

    .fa-chevron-up {
      text-shadow: 0px 1px 10px lawngreen;
      padding-top: 3px;
    }

    .fa-chevron-down {
      text-shadow: 0px 0px 10px red;
    }

    .answer-up {
      padding: 18px 5px;
      font-size: larger;
    }

    .answer-down {
      padding: 17px 5px;
      font-size: larger;
    }

    p {
      font-size: x-large;
    }
    display: flex;
  }

  .vote-item {
    padding: 0 20px;
  }

  .voted {
    color: lawngreen;
  }

  .downvoted {
    color: red;
  }

  .default {
    color: white;
  }
}
