.navigation_history {
  padding: 10px 0 15px 0;
  border-radius: 10px;
  margin-bottom: 5px;
  color: $font-color;

  a {
    color: $font-color;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}
