.navbar-lewagon {
  justify-content: space-between;
  background: $font-color;
  height: 65px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  height: 40px;
}

.container-fluid {
  margin: 0px 70px 0px 70px;
  display: flex;
}

.nav-logo {
  color: $background-color;
  &:hover {
    color: $tertiary-color;
  }
}

.nav-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
}

.nav-link {
  color: $background-color;

  &:hover {
    color: $tertiary-color;
  }
}

#logo-text {
  font-family: "Baloo Bhai";
  font-size: 40px;
  color: $background-color;

  &:hover {
    color: $tertiary-color;
  }
}
