#simple-form-new-course {
  background-color: $font-color;
  border: 5px solid $quarternary-color;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  padding: 30px;
  color: $background-color;

  .simple-form-input-course {
    width: 100%;
    color: $background-color;
    margin: auto;
  }

  label {
    width: 100%;
    text-align: left;
  }
}
