.study-session {
  color: $background-color;
  background-color: $font-color;
  margin: auto;
  width: 40%;
  padding: 20px;
  border-radius: 15px;
  margin-top: 20px;
}

.title-study-session {
  margin: 10px 10px 20px 0px;
  padding: 5px;
  height: auto;
  color: $background-color;
  border-bottom: solid 1px $background-color;
}

.container-study-sessions {

  h1 {
    margin: auto;
  }
}
