.link-box {
  background: $font-color;
  border-radius: 12px;
  margin-top: 10px;
  .link {
    padding: 10px;
    text-align: -webkit-center;
    a {
      text-decoration: none;
      color: $background-color;
    }
    a:hover {
      color: $tertiary-color;
    }
  }
}
