<div class="edit-or-join-popup" data-turbo-target="popup">
  <div class="popup-content">
    <div class="add-course-btn">
      <%= link_to new_course_path, class: "btn btn-flat" do %>
        <i class="fa-solid fa-circle-plus"></i>
        <h4>Add a course</h4>
      <% end %>
    </div>
    <div class="join-course-btn">
      <%= link_to new_course_enrollment_path, class: "btn btn-flat" do %>
        <i class="fa-solid fa-user-group"></i>
        <h4>Join a course</h4>
      <% end %>
    </div>
  </div>
</div>
