<div class="edit-or-join-popup" data-user-progress-target="popup">
  <div class="popup-content">
    <div class="add-course-btn">
      <%= link_to "Add a Course", new_course_path, class: "btn btn-flat"%>
    </div>
    <%= link_to "Join a course", new_course_enrollment_path %>
  </div>
</div>
