<div class="edit-or-join-popup" data-user-progress-target="popup">
  <div class="popup-content">
    <div class="add-course-btn">
      <%= link_to icon("fa-solid", "fa-circle-plus"), new_course_path, class: "btn btn-flat"%>
    </div>
    <%= link_to icon("fa-solid", "fa-users"), new_course_enrollment_path, class: "btn btn-flat" %>
  </div>
</div>
